body{
        font-family: Arial;
          margin: 80px 100px 10px 100px;
          padding: 0;
          color: white;
          text-align: center;
          background: #555652;
      }

.container {
        color: #E8E9EB;
        background: #222;
        /*border: #555652 1px solid;
        padding: 10px;*/
      }
h1{
	font-size: 100px;
}

ul{
  list-style: none;
}